#title{
    display:block !important;
}

#title1{
    display:none !important;
}

#mobile{
    display:block !important;
}

#mobile1{
    display:none !important;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
        #heading{
            margin-top: 12% !important;
        }
    #mobile2{
        display:none !important;
    }

    #mobile1{
        display:block !important;
    }

    #subheading{
        font-size: 12px !important;
        margin-left: 3% !important;
    }

    #subheading1{
        font-size: 18px !important;
    }
}