#title{
    display:block !important;
}

#title1{
    display:none !important;
}

#prize{
    display:block !important;
}

#prize1{
    display:none !important;
}
th{
    text-align: center;
}   

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    #heading{
        margin-top: 12% !important;
    }
    #heading2{
        font-size: 1em !important;
    }
    table{
        font-size: 8.5px !important;
        width: 70% !important;
        margin-left: 0% !important;
    }
    
    #prize2{
        display:none !important;
    }

    #prize1{
        display:block !important;
    }
}